<h1> Player Information </h1>

<b>Team: </b><%= @player.team.name %> <br />
<b>On Bench: </b><%= @player.bench? ? "Yes" : "No" %> <br />
<b>First Name: </b><%= @player.first_name %> <br />
<b>Last Name: </b><%= @player.last_name %> <br />
<b>Shirt Name: </b><%= @player.shirt_name %> <br />
<b>Full First: </b><%= @player.full_first %> <br />
<b>Full First: </b><%= @player.full_last %> <br />
<b>Position English: </b><%= @player.position_english %> <br />
<b>Position Spanish: </b><%= @player.position_spanish %> <br />
<b>Player Number: </b><%= @player.number %> <br />
<b>Goals: </b><%= @player.goals %> <br />
<b>Assists: </b><%= @player.assists %> <br />
<b>Shots: </b><%= @player.shots %> <br />
<b>On goal shots: </b><%= @player.on_goal_shots %> <br />
<b>Crosses: </b><%= @player.crosses %> <br />
<b>Penalty kicks shots: </b><%= @player.penalty_kicks_shots %> <br />
<b>Penalty kicks goals: </b><%= @player.penalty_kicks_goals %> <br />
<b>Foul Committed: </b><%= @player.foul_committed %> <br />
<b>Foul Suffered: </b><%= @player.foul_suffered %> <br />
<b>Offsides: </b><%= @player.offsides %> <br />
<b>Corner kicks: </b><%= @player.corner_kicks %> <br />
<b>Goal mouth blocks: </b><%= @player.goal_mouth_blocks %> <br />
<b>Yellow cards: </b><%= @player.yellow_cards %> <br />
<b>Red cards: </b><%= @player.red_cards %> <br />
<b>Starter: </b><%= @player.starter %> <br />
<b>Formation: </b><%= @player.formation %> <br />
<b>Touch total: </b><%= @player.touch_total %> <br />
<b>Touch passes: </b><%= @player.touch_passes %> <br />
<b>Touch interceptions: </b><%= @player.touch_interceptions %> <br />
<b>Touch blocks: </b><%= @player.touch_blocks %> <br />
<b>Tackles: </b><%= @player.tackles %> <br />
<b>average position location: </b><%= @player.aveg_pos_location %> <br />
